body {
  margin: 0;
}
.first-part {
  background-image: url(images/donation13.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading-fonts {
  display: inline-block;
  margin-top: 70px;
  text-align: center;
  margin-left: 250px;
}
.heading-fonts h1 {
  font-size: 45px;
  color: aqua;
}
.heading-fonts p {
  color: white;
}
.heading-fonts a {
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  background: orangered;
  margin-top: 20px;
  display: inline-block;
  border-radius: 10px;
}
.donate-amount {
  text-align: center;
  margin-top: 200px;
}
.donate-amount h1 {
  font-size: 35px;
}
.donate-amount .one {
  color: gray;
  border: 3px solid white;
  width: 60px;
  background: rgb(246, 244, 244);
  padding: 30px 15px;
  display: inline-block;
  margin: 10px;
  font-size: 25px;
}
.donate-amount .two {
  color: gray;
  border: 3px solid white;
  width: 60px;
  background: rgb(246, 244, 244);
  padding: 30px 15px;
  display: inline-block;
  margin: 10px;
  font-size: 25px;
}
.donate-amount .three {
  color: tomato;
  border: 2px solid tomato;
  width: 60px;
  background: rgb(243, 237, 237);
  padding: 30px 15px;
  display: inline-block;
  margin: 10px;
  font-size: 25px;
  border-radius: 5px;
}
.donate-amount .four {
  color: gray;
  border: 1px solid white;
  width: 70px;
  background: rgb(246, 244, 244);
  padding: 30px 15px;
  display: inline-block;
  margin: 10px;
  font-size: 25px;
}
.donate-amount .five {
  color: gray;
  border: 3px solid white;
  width: 70px;
  background: rgb(246, 244, 244);
  padding: 30px 15px;
  display: inline-block;
  margin: 10px;
  font-size: 25px;
}
.tk p {
  color: gray;
  text-align: center;
  margin-top: 40px;
}
.line {
  width: 600px;
  height: 1px;
  background: rgb(243, 223, 223);
  margin: 0 auto;
  display: flex;
}
.wi a {
  text-decoration: none;
  text-align: center;
  background: orangered;
  width: 10%;
  height: auto;
  padding: 10px 20px;
  left: 43%;
  position: absolute;
  float: right;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
}
.donate-plan {
  text-align: center;
  margin-top: 150px;
}
.donate-plan h1 {
  font-size: 35px;
}
.flexible-container {
  display: flex;
  margin: 30px 80px;
}
.experience-item {
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 30px 10px 15px;
  border-radius: 10px;
  text-align: justify;
}
.border-1 {
  background: gray;
}
.border-2 {
  background: pink;
}
.border-3 {
  background: aqua;
}
.form-input {
  text-align: center;
  margin: 100px;
}
.form-input h1 {
  font-size: 30px;
}
.form-input form {
  background-color: rgba(207, 198, 187, 0.767);
  padding: 60px;
  margin: 50px 15%;
  border-radius: 5px;
}
.form-input form input {
  padding: 8px 15px;
  background: rgb(189, 186, 186);
  border: none;
}
.form-input form a {
  text-decoration: none;
  background-color: tomato;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
footer {
  background-color: rgba(1, 11, 11, 0.955);
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 100px;
}
footer h1 {
  color: tomato;
}
